/* Estilos gerais */
.page-title {
  margin-left: 40px;
  margin-top: 40px;
}

.main-title {
  margin-left: 40px;
  margin-top: 10px;
}

.account-link {
  color: #0000ff;
}

.wrap-anuncio-ativo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-anuncio {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas por padrão */
  gap: 20px; /* Espaçamento entre os cards */
  width: 100%;
  max-width: 1200px; /* Limite de largura */
}

.card-anuncio {
  background-color:#cacaca;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card-anuncio:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card-image {
  width: 100%;
  max-width: 200px;
  border-radius: 25px;
}

.txt-card {
  margin-top: 10px;
}

.wrap-btn {
  .card-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.btn-card {
  margin-top: 10px;
  padding: 10px 20px;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
  .grid-anuncio {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas médias */
  }
  .card-anuncio {
   
    margin: 20px;
  }
  
}

@media (max-width: 768px) {
  .grid-anuncio {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
  }
}

@media (max-width: 480px) {
  .grid-anuncio {
    grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
  }
}

@media (max-width: 400px) {
  .page-title,
  .main-title {
    font-size: 16px; /* Reduz o tamanho da fonte em telas pequenas */
  }

  .card-anuncio {
    padding: 15px;

  }
}
