* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --blue-primary: #00bbc9;
  --cinza-primary: #324b4e;
  --cinza-secondary: #94b0b3;
  --blue-secondary: #3a8fd7;
  --transparence-primary: #cacaca;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--blue-secondary);
  justify-content: left;
  padding: 0vw 2vw;
  height: 98px;
}
.logo-img {
  cursor: pointer;
}

.foto-user {
  align-items: center;
  justify-content: center;
  border: none;
  display: flex;
}
.search {
  background-color: #ffffff !important;
}

.btn-secondary {
  background-color: var(--blue-secondary) !important;
}


.dropdown-item:hover {
  background-color: var(--blue-secondary) !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.login-link {
  display: block;
  border: none;
  border-radius: 25px;
  width: 120px;
  height: 40px;
  gap: 40px;
  transition: all 200ms linear;
}
.login-link:hover {
  transition: all 200ms linear;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  background-color: #cacaca;
  color: #000000;
}
.login01 {
  margin-left: 20px;
}
.login02 {
  margin-left: 20px;
  margin-right: 20px;
}
.search{
  padding: 0 !important;
  height: 40px !important;}
.search form {
  display: flex;
  flex-direction: row;
 
  padding: 0;
  align-items: center;
  border-radius: 25px;
  width: 100%;
}


.btn {
  width: auto !important;
  padding: 5px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lupa {
  cursor: pointer;
  margin: 8px;
}

#searchInput {
  padding: 0;
  border: none;
  background-color: #ffffff;
  border-radius: 25px;
  width: 100%;
  outline: none;
}

.links a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}
a {
  text-decoration: none !important;
  color: #000000 !important;
}

@media (max-width: 1200px) {
  
  .login-link{
    height: 50px;
    border-radius: 20px;
  }
}
